<!DOCTYPE html>

<html>
    <title>About</title>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href=".`/weather-icon.png">
    <body>
    
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sanjeev Gowtham. This site displays the weather data.</p>
            <img src="./665898.jpg" class="center">

        </div>

        {{>footer}}
    </body>
</head>
</html>