<!DOCTYPE html>

<html>
    <title>Help</title>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./weather-icon.png">
    <body>
        <div class="main-content">
            {{>header}}
        
            <p>{{helpText}}</p>
        </div>

        {{>footer}}
    </body>
</head>
</html>